
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<P>Bienvenue sur mon application MVC</P>

<a href="/ExpressionsRazor/ExpressionsRazor">Exemples expresssions Razor</a><br />
<a href="/ExpressionsRazor/InfoRequest">Information sur la request</a><br />
<a href="/ExpressionsRazor/ListNoms">List Noms (Exemple iteration)</a><br />
<a href="/ExpressionsRazor/LeapYear">Leap Year (avec if else)</a><br />