
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Albums/ListWeeklyTyped">ListWeeklyTyped</a><br />
<a href="/Albums/ListStronlyTyped">ListStronlyTyped</a><br />
<a href="/ShoppingCart/Index">Shopping Cart </a>